body {
    margin: 0;
}

.s1 {
    width: 70%;
    height: 400px;
    margin-top: 50px;
}

.s2 {
    background-color: rgb(103, 217, 170);
    width: 30%;
    height: 559px;
}

.hf {
    margin-top: 150px;
    color: whitesmoke;
}

.pf {
    text-align: center;
    font-size: 19px;
    color: whitesmoke;
}

main {
    display: flex;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 45px;
}

::placeholder {
    font-size: 16px;
}

.pp {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.center {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
}

.column {
    flex: 1;
    margin-right: 10px;
    /* Adjust as needed for spacing between columns */
}

.email,
.password {
    display: block;
    margin-bottom: 5px;
    border: none;
    border-radius: 30px;
    padding: 15px 20px;
    width: 350px;
    margin-bottom: 25px;
    background-color: #ece9f5;
}


.btn {
    display: flex;
    justify-content: center;
    padding: 15px 80px;

}

.btn button {
    font-size: 16px;
    color: white;
    
}

.btn a {
    text-decoration: none;
}
button {
    background-color: rgb(11, 166, 101);
    border: none;
    border-radius: 25px;
    transition: 0.3s ease-in-out;
}

button:hover {
    background-color: rgb(103, 217, 170);
    cursor: pointer;
}



.boo {
    display: flex;
    justify-content: center;
    padding: 15px 80px;

}

.boo button {
    font-size: 16px;
    color: black;
    background-color: aliceblue;
}



.boo :hover {
    color: rgb(19, 147, 94);
}

.boo a {
    text-decoration: none;
}

@media only screen and (max-width: 767px){
    main{
        display: block;
    }
    .s1 h1{
        margin-left: 160px;
        text-align: center;
    }
    .pp{
        margin-left: 160px;
    }
    .row{
        display: block;
        margin-left: 150px;
        

    }
    .s2{
        width: 100%;
        
        
    }
    .btn{
        margin-left: 60px;
    }
    .s1{
        margin-bottom: 300px;
    }
}